.boton {
    position: absolute;
    border-radius: 4px;
    background-color: #00AAFF;
    border: none;
    color: #FFFFFF;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    top: 50%;
    left: 42.8%;
}

.boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.boton:hover span {
    padding-right: 25px;
}

.boton:hover span:after {
    opacity: 1;
    right: 0;
}